<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeFormatter</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div>
    <div class="container">
        <h1>CodeFormatter</h1>
        <form action="/format" method="post">
            <label for="code">Twój kod:</label>
            <textarea id="code" name="notFormattedCode" placeholder="Twój kod..."></textarea>
            <button type="submit">Formatuj</button>
        </form>
    </div>
</div>
</body>
</html>