.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
h1 {
    margin: 20px auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

textarea {
    min-height: 200px;
    min-width: 400px;
}

form * {
    margin: 5px;
}
.result {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

pre {
    padding: 5px;
    margin: 5px;
    border: black dotted 2px;
}

